.main {
    min-height: 1200px;
	background:
		radial-gradient(ellipse farthest-corner at right bottom, #ccc 0%,  #bbb 40%, transparent 80%),
		radial-gradient(ellipse farthest-corner at left top, #ffffff 0%,  #ccc 25%,  #bbb 100%);
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    color: #00193F;

}

a:hover {
    color: #1664DB;
    transition: all 0.3s;
}

h1, h2 {
    color: #00193F;
    margin-bottom: 40px;
}

img {
    padding-bottom: 40px;
    width: auto;
    max-width: 100%;
}

.container {
    padding-bottom: 40px;
}

.user-list {
    margin-bottom: 60px;
}

.user-list a{
    margin-right: 40px;
    margin-bottom: 20px;
    display: inline-block;
}

.menu-item {
    margin-bottom: 20px;
}

.btn-blue {
    background: #00193F;
    border: 1px solid #00193F;

}

.btn-blue:hover {
    background: #1664DB;

}

.newscont {
    display: flex;
    /* background-color: #cecece; */
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #00193F;
}

.newscont__id {
    width: 7%;
    text-align: left;
}

.newscont__title {
    width: 50%;
    text-align: left;
    padding-left: 20px;
}

.newscont__column {
    width: 13%;
    text-align: left;
    padding-left: 20px;
}

.newscont__date {
    width: 15%;
}

.newscont__action {
    width: 20%;
}

.newscont__action a {
    margin-right: 10px;
}

.newscont__author {
    width: 10%;
}

.mb-40 {
    margin-bottom: 40px;
}

.showblog__date{
    display: flex;
    margin-bottom: 20px;
}

.showblog__date div {
    margin-right: 40px;
}

.showblog {
    text-align: left;
}

.showblog__preview {
    margin-bottom: 20px;
    font-style: italic;
}

.showblog__text {
    margin-bottom: 60px;
}

.errors {
    text-align: left;
}

.errors li {
    color: red;
    text-align: left;
}

.editfield {
    width: 100%;
}

.editfield label {
    width: 200px;
}

.editfield label {
    width: 200px;
}

.editfield input, .editfield textarea {
    padding: 10px;
}

.topmenu {
    display: flex;
}

.topmenu__col1 {
    width: 50%;
}

.topmenu__col2 {
    width: 50%;
    text-align: right;
}

.actionbtn {
    margin-bottom: 20px;
    padding: 10px 50px;
}

/* ====================       450px       ====================================== */

@media (max-width: 450px) {
    header {
        padding-bottom: 0;
    }

    .menu-item {
        width: 50%;
    }
}
