.main {
    min-height: 1200px;
	background:
		radial-gradient(ellipse farthest-corner at right bottom, #ccc 0%,  #bbb 40%, transparent 80%),
		radial-gradient(ellipse farthest-corner at left top, #ffffff 0%,  #ccc 25%,  #bbb 100%);
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    color: #00193F;

}

a:hover {
    color: #1664DB;
    transition: all 0.3s;
}

h1, h2 {
    color: #00193F;
    margin-bottom: 40px;
}

img {
    padding-bottom: 40px;
    width: auto;
    max-width: 100%;
}

.container {
    padding-bottom: 40px;
}

.user-list {
    margin-bottom: 60px;
}

.user-list a{
    margin-right: 40px;
    margin-bottom: 20px;
    display: inline-block;
}

.menu-item {
    margin-bottom: 20px;
}

.btn-blue {
    background: #00193F;
    border: 1px solid #00193F;

}

.btn-blue:hover {
    background: #1664DB;

}

@media (max-width: 450px) {
    header {
        padding-bottom: 0;
    }

    .menu-item {
        width: 50%;
    }
}
