$dark: #2b2b2b;
$navbar-dark-color: #b6b6b6;
$navbar-dark-brand-color: #b6b6b6;

$navbar-dark-hover-color: #ffc107;
$navbar-dark-active-color: #ffc107;

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
